.mainContent {
	display: block;
}

.leftSide
{
	display: inline-block;
	vertical-align: top;
	width: 29%;

}

.rightSide
{
	display: inline-block; vertical-align: top;
	width: 69%;
	margin-left: 3px;
}

@media screen and (max-width: 720px){
	.leftSide, .rightSide {
		display: inline-block;
		width: 99%;
	}
}