.mainContent {
	display: flex;
	width: 100%;
}

.leftSide
{
	flex: 1;
}

.rightSide
{
	margin-left: 5px;
}

@media screen and (max-width: 720px){
	.mainContent {
		display: inline-block;
		width: 100%;
	}
}